h1{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.box{
	background-color: #f5f5f5;
	margin: 0 auto;
	padding-bottom: 25px;
	border-radius: 2px;
    border: solid 1px gray;
	text-align: center;
	max-width: 600px;
    width: 70%
}
.box ul{
	text-align: left;
	list-style-type: none;
	margin: 20px 0;
	display: inline-block;
	margin-bottom: -13px;
	padding-left: 0px;
}
.box li{
	padding: 15px 50px 15px 60px;
	width: 115px;
}
.box2{
	max-width: 800px;
	width: 70%;
	min-width: 100%;
	margin: 30px auto;
}
.subbox{
    width: 70%;
    min-width: 95%;
	margin: 10px auto;
	padding: 20px;

	border-radius: 3px;
	background-color: #e8e8e8;
}
.subbox span{
	background-color: white;
    padding: 6px;
    border-radius: 3px;
	margin: 5px 10px 10px 30px;
	display: inline-block;
}
h5{
	font-size: 1em;
}
h6{
	text-align: left;
	width: 95%;
	font-size: 1em;
	margin: 10px auto 20px auto;
	position: relative;
	padding-bottom: .5em;
    border-bottom: 1px solid #8c8c8c;
}
.box2 img{
	width: 80%;
	min-width: 138px;
    max-width: 300px;

}
.imgbox{
	margin-left: 4%;
	margin-bottom: 5%;
	padding: 2px 0;
	width: 44%;
	max-width:250px;
	display: inline-block;
	vertical-align: top;
	font-size: 0.9em;
    background-color:white;
	text-align: center;
	border-radius: 3px;
}
.imgbox span{
	display: inline-block;
	width: 80%;
	color: #292929;
	/*initialセレクタを解除するプロパティ */
    text-align: initial;
}